<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Budgtr</h1>
        <table>
            <% for(let i=0; i < Budget.length; i++) { %>     
            <tr>
                <td>
                    <%= Budget[i].date %>
                </td>
                <td>
                    <a href="/budget/<%=i%>">    <%= Budget[i].name %> </a>
                </td>   
                <td>
                    <%= Budget[i].amount %>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    <div>
        <button onclick="location.href='/budget/new';">New</button>
    </div>
</body>
</html>